.banner {
  padding: 2rem 0px;
  text-align: center;
}

.banner .container {
  max-width: 81rem;
}

.banner .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.banner img {
  height: auto;
  width: 100%;
  margin-bottom: 3rem;
}

.banner picture {
  max-width: 37.75rem;
  width: 100%;
}

.banner ul {
  margin: 0px;
}

.banner ul li {
  padding: 2.625rem 0px;
  position: relative;
}

.banner ul li + li::before {
  background-color: #707070;
  content: '';
  display: block;
  opacity: 0.1;
  height: 0.0625rem;
  left: 50%;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  width: 12.5rem;
}

.banner .banner-badge {
  color: rgba(8, 63, 112, 0.75);
  background-color: #edeeef;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.21875rem;
  padding: 0.3125rem 0.625rem;
  text-transform: uppercase;
}

.banner .banner-title {
  color: #083f70;
  font-family: 'PT Serif', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  position: relative;
}

.banner .banner-title::before {
  background-image: url(../../img/check.svg);
  background-size: cover;
  background-position: center;
  display: inline-block;
  content: '';
  height: 0.875rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  width: 0.875rem;
}

.banner .banner-description {
  color: #8e8e8e;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 0px;
}

.banner .banner-description strong {
  color: #f6694c;
  font-weight: 500;
}

@media (min-width: 768px) {
  .banner .banner-description {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .banner {
    padding-bottom: 4rem;
  }

  .banner ul li {
    padding: 0px 1rem;
  }

  .banner ul li + li::before {
    content: none;
  }
}
