html {
  scroll-behavior: smooth;
}

body {
  padding-bottom: 8.875rem;
}

.fixed {
  align-items: center;
  background-color: #296197;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.fixed.active {
  transform: translateY(0px);
}

.fixed .fixed-title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.125rem;
  margin-top: 0px;
  text-align: center;
}
