.options {
  background-color: #ebf0f8;
  padding: 3.25rem 0px;
  position: relative;
}

.options::before {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 2rem 1rem 0 1rem;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  width: 0;
}

.options .title {
  font-size: 1.875rem;
  margin-bottom: 2.25rem;
}

.options .container {
  max-width: 57rem;
}

.options form input[type='radio'] {
  display: none;
}

.options label {
  cursor: pointer;
  display: inline-block;
  margin: 0px auto;
  width: 100%;
}

.options label ~ label {
  margin-top: 1.25rem;
}

.options .option {
  align-items: flex-start;
  background-color: #fff;
  border-radius: 0.75rem;
  color: #364453;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0px auto;
  max-width: 25rem;
  padding: 1.75rem 1.25rem;
  position: relative;
}

.options input[type='radio']:checked + label .option {
  background-color: #253c56;
  color: #fff;
}

.option .option-title {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: 0.625rem;
  margin-top: 0px;
  text-transform: uppercase;
}

.option .option-subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 0px;
}

.options input[type='radio']:checked + label .option .option-title {
  background-color: #f6694c;
}

.options input[type='radio']:checked + label .option-description {
  border-left-color: rgba(255, 255, 255, 0.1);
}

.options input[type='radio']:checked + label .option-description strong {
  font-weight: 500;
}

.options input[type='radio']:checked + label .option .highlight {
  background-color: #fff;
  color: #3f4c5b;
  font-weight: 700;
  padding: 0px;
}

.option .option-title strong {
  color: #364453;
  background-color: #fff700;
  text-transform: uppercase;
}

.option .option-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.875;
  border-left: 0.1875rem solid rgba(0, 0, 0, 0.1);
  padding-left: 0.875rem;
}

.option .option-description strong {
  font-weight: 600;
}

.option .option-radio {
  align-items: center;
  border: 0.1875rem solid #00000099;
  border-radius: 50%;
  display: flex;
  height: 1.625rem;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.625rem;
}

.option .option-radio::after {
  background-color: #fff;
  border-radius: 50%;
  content: ' ';
  height: 0.75rem;
  width: 0.75rem;
}

.options input[type='radio']:checked + label .option .option-radio {
  border-color: #fff;
}

.options input[type='radio']:checked + label .option-radio-background {
  /* background-color: rgba(255, 255, 255, 0.25); */
  border-radius: 50%;
  content: '';
  height: 200%;
  position: absolute;
  width: 200%;
}

.options input[type='radio']:checked + label .option-radio-background::before {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  content: '';
  display: block;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);

  animation: pulse 1.4s ease-out infinite;
}

@media (min-width: 992px) {
  .options label ~ label {
    margin-top: 0px;
  }

  .options .option {
    padding: 2rem;
  }
}

@keyframes pulse {
  0% {
    height: 0%;
    opacity: 0;
    width: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    height: 180%;
    opacity: 0;
    width: 180%;
  }
}
